[2018-01-31 19:10] kootenpv opened #1 "Dude, where's the code :-)?"

[2018-02-01 09:08] gchatelet commented on #1
It's up!

[2018-02-01 09:08] #1 closed

[2018-02-07 18:43] Myriachan opened #2 "vpclmulqdq should be pclmulqdq"
vpclmulqdq should be pclmulqdq.  The "v" version of the instruction simply means to encode the instruction in AVX format instead of SSE format.

[2018-02-07 18:48] Myriachan opened #3 "Need better platform code separation"
I was interested in adding iOS, macOS and Windows support, but the layout of the code is not conducive to this.  src/cpuinfo_aarch64.c is highly Linux-specific.  For an ARM64 Windows implementation, where would the code go?  (In Windows, the ARM64 implementation would be based around IsProcessorFeaturePresent.)

[2018-02-07 18:58] Myriachan opened #4 "SSSE3, SSE4.1, SSE4.2 not detected on non-AVX CPUs"
ParseCpuId is coded to require the XMM XCR0 bit in order to recognize SSSE3, SSE4.1, and SSE4.2, but this is not the right way to detect it.  Machines without AVX will not have XCR0 at all, and will fail this check.

In the absence of XCR0, on x86-32, the proper way to detect SSE is to ask the operating system.  (On x86-64, just assume yes.)  In Windows, that's IsProcessorFeaturePresent(PF_XMMI_IN

[2018-02-07 20:53] camgunz opened #6 "Returning a stack-allocated value"
Hey!  The code at https://github.com/google/cpu_features/blob/master/src/cpuid_x86_clang.c#L21 (and in the other files) is returning a stack-allocated value, which I think is a problem?  I thought you needed an output parameter for that kind of thing.

EDIT: Oh it ends up copying it.  Well maybe not *bad* then, but not ideal either?

[2018-02-07 21:12] ararslan opened #7 "Allow building as a shared library"
This would allow languages that can call into shared libraries to natively wrap this awesome library. 🙂 I would submit a PR for this, but my CMake isn't so good.

[2018-02-07 22:48] ararslan commented on #7
Never mind, this can be accomplished with `-DBUILD_SHARED_LIBS=ON`, it just requires `-fPIC`. I've submitted a PR with that part.

[2018-02-07 22:53] twirrim opened #10 "Frequency scaling can hurt, even in same family"
This looks like a fantastically useful library.

Just a point for consideration, given that one of the targets is to make it easier to write fast code:
https://blog.cloudflare.com/on-the-dangers-of-intels-frequency-scaling/

Note that same generation, same feature set can have wildly different performance depending on if it's "Silver", "Gold" or "Platinum", none of which is exposed by flags.  Silv

[2018-02-08 02:41] khm opened #11 "this is not c89"
You've got a build system that depends on c++, `// comments` in your code, and you use the `inline` keyword in string_view.h, leaving aside the `stdint.h` includes and uintxx_t types scattered everywhere.

Attempting to compile this even once with -std=c89 would have revealed these problems.  I recommend you put, at least,
`set(CMAKE_C_FLAGS "-std=c89 ${CMAKE_C_FLAGS}")`
in your CMakeLists.txt fil

[2018-02-08 07:59] ip1981 commented on #11
https://github.com/google/cpu_features/blob/master/src/list_cpu_features.cc :)

[2018-02-08 08:02] khm commented on #11
I'm giving them the benefit of the doubt on the C++ file; it looks like that's a hello-world demonstrating how to call the library with idiomatic C++.  There's no sane reason for the other mistakes in the context of a supposedly c89 library.

[2018-02-08 08:08] boegel opened #12 "please consider tagging versions & doing releases"
I assume this library is alpha-stage currently, but please tag versions/releases so people know exactly which revision of `cpu_features` they are currently using.

[2018-02-08 09:43] gchatelet opened #13 "Add continuous integration for ARM / aarch64 / mipsel"

[2018-02-08 09:47] gchatelet commented on #11
@khm  We target gnu89 and not c89. Do you have a real need for c89? Which compiler wouldn't compile this code?

@ip1981 indeed this is a `hello world`. It's not part of the library.

[2018-02-08 10:11] khm commented on #11
I work in a couple of systems that don't support anything past c89, but if you target gnu89, I wouldn't expect this to work.

I came here because I read a blog post [1] that told me this was a c89 library.  The same blog post, incidentally, decried hard-coded cpu mapping tables as 'desperate measures.'   When I got to the github page I saw the project summary, which currently reads

I was surprise

[2018-02-08 10:12] gchatelet commented on #6
Yes it's a copy. Since this is a one time initialization I don't think there's an impact in copying a few bytes and it makes the usage much simpler.

Consider:
[code]

It would only copy `sizeof(X86Features)` which is currently 4 bytes, not a big deal in my opinion.

I'm closing this issue for now but feel free to reopen if you have any concerns.

[2018-02-08 10:12] #6 closed

[2018-02-08 10:17] khm opened #14 "build process requires outbound internet connections"
I would appreciate it if the documentation would reflect the fact that this library downloads approximately 55,000 lines of code from github at build time.  This can cause problems for people who expect a build to work within sandboxed package-build environments.

[2018-02-08 10:22] gchatelet commented on #3
Thank you very much for this feedback, I very much appreciate it.
I agree the code layout must be more principled to allow the matrix of OS/ARCH to be fully exposed.

How about cpuinfo_{arch}_{OS}.c? Any suggestion?

[2018-02-08 14:06] arter97 commented on #3
I'd personally do separate directory approach.
I'd vote on {OS}/{arch}.c.

[2018-02-08 14:09] f1nalspace commented on #11
At that point where i saw a include of <stdint.h> this library was violating the C89 standard - so you need a recent compiler which support certain features of C99. As i recall gnu89 has some extensions which allows stdint.h for example, but extensions are no standard!
So khm is totally right, this requires a recent compiler - which is fine i think, but then you should declare it as such.

[2018-02-08 14:14] gchatelet commented on #14
Thx for reporting. I'll default the build to Release and no unit test.
Working on a fix.

[2018-02-08 14:14] f1nalspace commented on #3
I vote on the suggestion from gchatelet.

[2018-02-08 14:44] Happy-Ferret opened #15 "Why no "Features revealed from Linux" under x86?"
Without having taken more than a brief look at the repo, what's the reason for not exposing the likes of ``/proc/cpuinfo`` under x86? Is there a reason or will this be supported in the future?

[2018-02-08 15:20] gchatelet commented on #11
@khm The blog post was supposed to advertise gnu89 instead of C89. Something went wrong with the publishing. It's unfortunate. Now I understand that my previous answer may have appeared rude, it was not intentional, my apologies for this.

We started out with C89 and ended up picking gnu89 because it was more convenient and we felt this wouldn't affect many people. I'm happy to revisit this design

[2018-02-08 15:26] gchatelet commented on #15
x86 provides all the information you need via the `cpuid` instruction and it is quite fast (a few hundreds of cycles). Using `/proc/cpuinfo` requires to read the file system and parse text which is both more error prone and slower. This can be added for sure but is it worth it?

[2018-02-08 16:01] #14 closed

[2018-02-08 16:10] Happy-Ferret commented on #15
Ah! Thanks. I didn't even see that line (not that it's an excuse, but I'm having some troubles with my right eye today. Urgh).

Yea. Definitely no point then.

[2018-02-08 16:11] gchatelet commented on #15
Happy to help!

[2018-02-08 16:11] #15 closed

[2018-02-08 16:23] gchatelet commented on #12
I'll update the documentation to reflect this but we prefer people to embed the library to prevent breakage due to API changes (i.e. compile and link statically). See abseil documentation [here](https://github.com/abseil/abseil-cpp/tree/master/CMake#recommended-usage--incorporate-abseil-into-an--cmake-project).

I don't plan to provide explicit versions or release for now.

[2018-02-08 16:25] boegel commented on #12
*cough* https://www.youtube.com/watch?v=NSemlYagjIU *cough* ;-)

[2018-02-08 16:27] Myriachan commented on #2
I made a mistake.  vpclmulqdq is now a future feature that is actually a vectorized multiply.  The code was correct before.
https://software.intel.com/sites/default/files/managed/c5/15/architecture-instruction-set-extensions-programming-reference.pdf

However, there is a separate pclmulqdq (old version) bit that should be added: leaf 1 ecx bit 1.

I am sorry about this; I didn't know about the new

[2018-02-08 20:16] Myriachan commented on #15
Whether SSE (XMM register saving) is supported by the OS is the one thing that x86 doesn't expose, unless the CPU also has AVX, via the XCR0 register.  Detecting this, if it's worth bothering, requires reading `/proc/cpuinfo` on Linux x86-32.  (x86-64's definition requires the OS to support XMM register saving, so x86-64 user-mode code can assume SSE and SSE2 support.)

[2018-02-08 21:11] khm commented on #11
I don't expect it's worth rewriting everything not to use uint32_t et al.  I see that you updated the project stinger to reflect gnu89 -- but I recommend you stick with C99 instead, because gnu89 is not a standard, and the features this library makes use of were all standardized in C99.

[2018-02-08 21:15] vsoch commented on #12
*cough cough*

[2018-02-09 06:26] f1nalspace commented on #11
@khm Thats exactly what i am talking about. The library should be declared as C99 and then its totally fine.

@gchatelet Yeah the C99 standard is pretty much old, but there are still compilers which does not support them properly (MSVC for example). MSVC does not update the C compiler at all, but they update the C++ compiler to the latest standards and we all know C++/11 has C99 included.

[2018-02-09 07:20] Androbin commented on #3
Using separate directories would allow for each OS to share code using additional files, still isolated from the rest.

[2018-02-09 07:54] gchatelet commented on #2
It's fine, it happens :) I should have double checked.
Do you mind opening another issue for the missing feature? I'll revert the commit. Thx!

[2018-02-09 07:56] #2 closed

[2018-02-09 08:22] gchatelet commented on #11
SGTM I'll advertise C99 then.

[2018-02-09 21:13] jf17 opened #16 "add Macintosh Operating System"
add support Macintosh Operating System (x86 and POWER) .
thank you =)

[2018-02-09 21:28] gchatelet commented on #12
Fair enough. I understand there is a need for a versioning scheme.
Let's start with 0.1.0 : )

[2018-02-09 21:28] #12 closed

[2018-02-09 21:28] boegel commented on #12
:+1:

[2018-02-09 21:52] #7 closed

[2018-02-09 22:37] gchatelet commented on #3
@Androbin 's rationale makes sense. I'll play a bit with the layout and come back with a proposal.

[2018-02-10 08:45] mohdhaekal opened #17 "Join to translate English into Indonesian"
hello sir ...
 may i translate into indonesia.agar bahasa indonesia is easier to read ..... ?
thank you very much for your attention

[2018-02-10 13:32] ax3l opened #18 "CMake: Install Missing"
Hi and thank you for the great project!

Can you please add `install()` lines to your CMake code? This would allow setting `-DCMAKE_INSTALL_PREFIX` to the cmake call and installing the final library via `make install`.

Here is an example on how to install targets in modern CMake:
  - https://github.com/pngwriter/pngwriter/blob/0.7.0/CMakeLists.txt#L140-L162

If you want, you can also generate a l

[2018-02-10 15:48] vielmetti opened #19 "Small driver program to test from command line"
It would be helpful in many ways to have a small driver program that would exercise the features of this library and would emit output on stdout after detecting all available features. This would allow for easier testing of the library on new platforms, as well as making it possible to integrate `cpu_features` into non-C99 applications.

[2018-02-10 16:54] jeffhammond commented on #10
Regarding AVX-512 support in Intel processors using the [Skylake Xeon microarchitecture](https://en.wikichip.org/wiki/intel/microarchitectures/skylake_(server)) (Intel Xeon Scalable, Xeon W, and Core X-Series processors - see https://github.com/jeffhammond/vpu-count for details), below are the three methods of querying this that I have identified.

I work Intel, but please don't take that to mean

[2018-02-10 16:56] jeffhammond commented on #16
MacOS PowerPC support is obsolete.  Why would you want that?
* https://apple.stackexchange.com/questions/1308/whats-the-last-os-x-that-supported-power-pc
* https://en.wikipedia.org/wiki/MacOS#PowerPC%E2%80%93Intel_transition

[2018-02-10 17:49] jf17 commented on #16
PowerPC support is optional.

[2018-02-10 19:41] gchatelet commented on #19
It's already the case: https://github.com/google/cpu_features/blob/master/CMakeLists.txt#L63
Although this issue tells me this is not obvious... I'll update the README to point to the target.

[2018-02-11 01:40] vielmetti commented on #19
got it! running on Cavium ThunderX (Packet Type 2A) arm64:

[code]

I'll still need a secret decoder ring for arm64 parts, though.

[2018-02-11 01:41] vielmetti commented on #19
By comparison `cat /proc/cpuinfo` gives me

[code]

for each of 96 cores

[2018-02-11 01:52] vielmetti commented on #19
If I'm asking about the CLI, it would be super-handy to have a `-o json` flag so that output would be easy to parse.

[2018-02-12 08:11] gchatelet commented on #18
@Mizux do you mind taking this over?

[2018-02-12 08:28] Mizux commented on #18
Hi, yes I can do it, just few question:
- Based on the current proect name, will `CpuFeatures::` is an acceptable CMake namespace ?
- We will also need target alias `CPUFeature::cpu_features` so we can use the same target name when using cpu_features as a CMake subproject or via find_package(CpuFeatures CONFIG)...
- prefer to use include(GNUInstallDir) to define destination
- Need to check/fix PUB

[2018-02-12 08:37] gchatelet commented on #18
`CpuFeatures::` namespace sounds good to me.

[2018-02-12 08:57] gchatelet commented on #10
@twirrim thank you for reporting. Yes indeed that would be super useful to have a more fine grained information about performance of implementation. We'd need to come up with a stable scheme to assess performance of implementation. Maybe denormalized bits: `avx_silver`, `avx_gold`, `avx_platinum`? What do you guys think?

@jeffhammond Thank you very much for sharing your insights. I'll take some t

[2018-02-12 09:40] gchatelet commented on #16
MacOS is already working it uses the Linux implementation.
I'll update the documentation to reflect this.

You can build the project and use the `list_cpu_features` program to check it's working properly.

[2018-02-12 09:54] #11 closed

[2018-02-12 10:29] andlabs commented on #11
@khm also instead of hardcoding `--std=c99`, you can set `CMAKE_C_EXTENSIONS` appropriately (or the equivalent target flag) to turn off extensions.

[2018-02-12 10:36] orwant commented on #17
Hi mohdhaekal, thanks for the offer but cpu_features will be changing frequently and we'd prefer that the documentation not get out of sync.

[2018-02-12 10:45] #17 closed

[2018-02-12 11:03] Mizux commented on #11
note: You could use `target_compile_features(<target> PUBLIC c_std_99)`
Unfortunately it comes with CMake 2.8.2

[2018-02-12 11:58] gchatelet commented on #19
@vielmetti Do you mind creating another issue to support a `--json` option?
I'll close this one with an update on the README.
Thank you!

[2018-02-12 12:00] #19 closed

[2018-02-12 13:17] gchatelet opened #22 "GCC does not discover all cpu features"
Reported by @xqp in https://github.com/google/cpu_features/pull/20.

[2018-02-12 13:28] jeffhammond commented on #10
@gchatelet Unfortunately, platinum/gold/silver/bronze isn't the right attribute for determining AVX-512 throughput on Skylake Xeon.  While the correlation between metals and VPUs is constant for platinum (2) and silver/bronze (1), the gold 6xxx SKUs have 2 and the gold 5xxx SKUS have 1 except for 5122, which has 2.  (Don't ask me why it is this way or if I like it.)

The attribute you'll want to s

[2018-02-12 13:42] jan-wassenberg commented on #10
Number of FMA also sounds very useful but the original report seems to focus on the AVX-512 turbo clock.

Even non-complex 512-bit instructions (e.g. XOR) apparently cause heavy throttling on silver, especially if several cores are active.

I guess the ideal would be to publish those turbo curves?

[2018-02-12 14:26] jeffhammond commented on #10
@jan-wassenberg Indeed, I got stuck on the VPU count aspect of e.g. Silver.  Sorry about that.  Giving access to the documented base and turbo frequencies for <=128b, 256b, and 512b SIMD would be useful.

The tricky part is that this is a function of how many cores are active, so the implementation requires a 3D array of [SKU, SIMD-width, #active cores].  I have that information for every Skylake

[2018-02-12 14:28] gchatelet opened #23 "Got auto-subscribed to cpu_features? Please unsubscribe manually."
TL;DR: I messed up with github settings, it auto subscribed many people, there's no way I can revert it and I can't even write to people that got subscribed. My apologies for the noise.

_please do not respond here since it will be even worse_

Click https://github.com/google/cpu_features/subscription and select "Not watching".

[2018-02-12 15:19] #18 closed

[2018-02-12 15:44] vielmetti opened #24 "CLI: JSON output"
It would be super-handy to have a `-o json` or a `--json` flag so that output from the CLI would be easy to parse and consume by other programs.

Inspired by #19

[2018-02-12 20:33] tkoeppe commented on #11
There's also <stdbool.h> which is a C99 feature.

[2018-02-13 09:12] #22 closed

[2018-02-13 09:58] #16 closed

[2018-02-13 14:48] vielmetti opened #26 "Improve reporting of Arm CPU types"
Following the work that `lscpu` has done, report more details of Arm CPUs.

http://suihkulokki.blogspot.fi/2018/02/making-sense-of-proccpuinfo-on-arm.html has background.

[2018-02-13 16:14] vielmetti commented on #26
There's a table of types here https://github.com/karelzak/util-linux/pull/564/commits/744d62ee0c54963539832ec5943f3d25e0fccfbd

[2018-02-16 16:11] #13 closed

[2018-02-21 01:24] ajdlinux opened #28 "Power Architecture support"
Opening this to track support for Power Architecture.

@grooverdan and I are currently sorting out our IBM approvals to work on this.

[2018-02-21 22:05] captain5050 opened #29 "Similarities to other CPU feature projects (deduplicate?)"
ART on Android works around quirks/bugs in /proc/cpuinfo and aux vector, has support for cross compilation, detection of features via C preprocessor, CPUID instructions, undefined instruction exceptions, supports MIPS, ARM, Intel 32 and 64, etc.:
https://android.googlesource.com/platform/art/+/master/runtime/arch/instruction_set_features.h#36
Android NDK has something simple:
https://developer.and

[2018-02-22 08:17] gchatelet commented on #29
Thx for reaching out @captain5050 !
`cpu_features` is literally born from the fact that many libraries are coding their own routine (libwebp, libyuv, android NDK, OpenCV to name a few). It seems simple enough at first sight but you learn along the way how hard it is to get right.
This library has been designed with the author of the [NDK's one](https://developer.android.com/ndk/guides/cpu-features

[2018-03-12 21:45] Leandros opened #30 "Add cx16 (cmpxchg16b) cpuid flag"
`cmpxchg16b` is generally supported on most, decently modern CPUs, but since the timeline already goes back to the old Core 2's, I wonder whether this could be added.
It's an important instruction (if you want 16-byte atomics), which is not supported on earlier Core 2's and some special AMDs.

[2018-03-13 09:59] #30 closed

[2018-03-13 11:46] Leandros commented on #30
Thanks, @gchatelet !

[2018-03-16 06:57] doctaweeks commented on #29
[cpuid2cpuflags](https://github.com/mgorny/cpuid2cpuflags), although built for a specific use case, shares some similarities as well.

[2018-03-27 13:53] #24 closed

[2018-04-19 05:40] ajdlinux commented on #28
internal approvals have happened, @RashmicaG is interested in taking a look at this too

[2018-04-19 09:53] gchatelet commented on #28
Awesome, let me know if I can help.

It would have been nice to have a cleaner structure for the code (see https://github.com/google/cpu_features/issues/3) but I tried a few ones and it didn't converge to something clearer. I'll have a bit more time in the upcoming days: I'll give it another try.

[2018-04-20 12:55] aprelev commented on #4
Ping.

[2018-04-26 06:09] Leandros opened #34 "Overwriting windows syscalls"
Windows, the Win32 API in specific, has a function called `ReadFile`, `OpenFile` and `CloseFile`. You define all three in filesystem.c, non-namespaced, and therefore overriding the Win32 syscalls for everybody who links with your library. This is a huge oversight and cost me a couple of hours of trying to figure out why my programs all start to crash when reading files out of a sudden.

https://gi

[2018-04-26 07:02] jan-wassenberg commented on #28
FYI: I've seen compilers turn simple for-loops into memcpy. If used within the library (not just test), we'd need to be careful to prevent that.

[2018-04-26 14:00] gchatelet commented on #34
Hi @Leandros

Thx a lot for reporting this: I wasn't aware obviously.
Let's move the conversation on PR https://github.com/google/cpu_features/pull/35

[2018-05-04 07:50] #34 closed

[2018-05-15 08:43] gchatelet commented on #28
Closing this issue now. Thx for your contribution @RashmicaG !

[2018-05-15 08:43] #28 closed

[2018-05-22 07:59] psteinb commented on #29
for x86, I can throw [my hat](https://github.com/psteinb/deeprace) into the ring.

From my benchmarks, I saw that I am a tick faster than cpu_features when detecting `sse4_1` (7x):

[code]

[2018-08-11 17:51] leewp14 opened #40 "CPU flags not correctly detected"
Although through `cat /proc/cpuinfo` shows SSE3, SSE4.1, SSE4.2, `list_cpu_features` doesn't list them out.

Output of `list_cpu_features` (compiled using source of time of posting) :
[code]

Output of `cat /proc/cpuinfo` :
[code]

[2018-08-11 17:55] leewp14 commented on #40
***duplicate issue***
forget to check if my cpu is non-avx. Turns out that my cpu is non-avx.
https://github.com/google/cpu_features/issues/4
Clossing issue

[2018-08-11 17:55] #40 closed

[2018-08-14 22:55] dandv commented on #17
@mohdhaekal: translation may help in the short run, but not in the long run. It's much more useful to learn English. See https://blog.codinghorror.com/the-ugly-american-programmer/.

[2018-08-16 03:57] travisdowns commented on #10
@jeffhammond  - were you able to dig up the AVX2 and AVX-512 frequencies for the W series?

[2018-08-16 04:01] travisdowns opened #41 "Instructions on how to use library at compile time"
There are demo snippets in the README showing how to use the library at the source level, and there is a building with cmake part about building it, but it would be nice to have a section that explains how to actually to add the library to your build: e.g., do you need to link against any binary? or just include the header?

You cover how a project using cmake should consume this, but a large numb

[2018-09-11 15:55] fuzun opened #43 "Features being signed integer : 1 causes issues with boolean true being 1"
So setting features true (= 1) does not comply with standards. (They can either be -1 or 0)
However getting them is not a problem since -1 is true.

Some proposed changes are in this pull request: #42

[2018-10-10 09:30] abhi18av opened #44 "How to compile this as a shared library ?"
Hi everyone,

I was wondering if you could please tell how I could compile this as a shared library ?

I tried using `cmake` but so far, without any success. Please point me to a better direction

[2018-10-10 09:42] gchatelet commented on #44
You compile shared library by specifying the flag on the cmake command line:
[code]
Please note that the use of shared libraries for `cpu_feature` is discouraged as [stated here](https://github.com/google/cpu_features/blob/78635347dbb03a2d3cc8543308e2bede4d6c12f9/CMakeLists.txt#L68).

[2018-10-10 09:42] #44 closed

[2018-10-10 10:08] abhi18av commented on #44
Oh, I see !

Thanks a lot @gchatelet :+1:

[2018-10-11 04:42] abhi18av commented on #44
@gchatelet , I ran into an error while running this command on the `macOS` system

[code]

[2018-10-11 04:43] abhi18av commented on #44
Shall I report this separately ?

[2018-10-11 04:56] abhi18av commented on #44
Hmm, I tried it on my bare-metal ARMv7 - C1 instance on scaleaway and it failed to compile again

[code]

Am I doing something wrong here ?

[2018-10-11 09:59] gchatelet commented on #44
@abhi18av Please create a separate issue for both of them.

[2018-10-11 10:09] abhi18av opened #45 "Unable to build this on macOS"
@gchatelet , I ran into an error while running this command on the `macOS` system

[code]

[2018-10-11 10:10] abhi18av opened #46 "Unable to build this on ARMv7 server"
I tried it on my bare-metal ARMv7 - C1 instance on scaleaway and it failed to compile again

[code]

Am I doing something wrong here ?

[2018-10-11 10:10] abhi18av commented on #44
Yup, done 👍

[2018-10-11 11:12] Mizux commented on #45
here
https://github.com/google/cpu_features/blob/78635347dbb03a2d3cc8543308e2bede4d6c12f9/include/cpu_features_macros.h#L52-L62

I would add
[code]
or
[code]

then adapt accordingly
https://github.com/google/cpu_features/blob/master/src/hwcaps.c#L38-L45

[2018-10-11 11:37] gchatelet commented on #45
According to https://sourceforge.net/p/predef/wiki/OperatingSystems/ we should test for `__APPLE__ && __MACH__`

[2018-10-11 12:43] Mizux commented on #45
Be careful these are both defined also on iOS too
src: http://nadeausoftware.com/articles/2012/01/c_c_tip_how_use_compiler_predefined_macros_detect_operating_system#OSXiOSandDarwin

[2018-10-18 05:29] travisdowns commented on #10
For anyone who stumbles across this thread looking for the AVX turbo frequencies for the Skylake-W chips (as I did), this [AnandTech article](https://www.anandtech.com/show/13164/update-on-xeon-w-turbo-tables) is the only source I know of at the moment. Most of the W chips are in there, although a few are missing such as the W-2104, which doesn't have TurboBoost (but does have lower AVX and AVX512

[2019-01-04 04:35] sl1200mk2 commented on #45
Hi,
so how to get cpu_features to compile on macOS?
I'm facing the same issue as Mizux...

thank you
++

[2019-01-04 08:36] Mizux commented on #45
@abhi18av @sl1200mk2
It seems you are using the `/Library/Developer/CommandLineTools/usr/bin/cc` which is the wrong active developer directory.
You should use instead this one `/Applications/Xcode-9.4.1.app/Contents/Developer/usr/bin/gcc`.

To change please run `xcode-select --install`

@gchatelet Travis-CI Mac workers seems "correctly" configured in this regard...
see: https://travis-ci.org/googl

[2019-01-04 09:08] Mizux commented on #45
@gchatelet I still think there is a bug since `cpuinfo_ppc.c` call `CpuFeatures_GetPlatformType();`
https://github.com/google/cpu_features/blob/78635347dbb03a2d3cc8543308e2bede4d6c12f9/src/cpuinfo_ppc.c#L167-L173

But `CpuFeatures_GetPlatformType()` is undefined for `!HWCAPS_SUPPORTED`:
https://github.com/google/cpu_features/blob/78635347dbb03a2d3cc8543308e2bede4d6c12f9/src/hwcaps.c#L164-L187

I t

[2019-01-04 13:05] jculpon commented on #45
Not @google but I'd like to confirm that a clean CMake on macOS 10.14.2 with a GNU-based toolchain is building successfully, but I have not been able to get tests passing with llvm this morning. This may be unrelated to the issues that @gchatelet / @Mizux are having.

[2019-01-12 13:38] gchatelet opened #47 "Add an easy way to migrate from the Android NDK"
Provide a drop in replacement for the [NDK's cpu-features.h](https://android.googlesource.com/platform/ndk/+/master/sources/android/cpufeatures/cpu-features.h)

[2019-01-16 10:46] gchatelet commented on #46
@abhi18av I believe this is now fixed. Do you mind trying again?

[2019-01-16 10:55] abhi18av commented on #46
Hi Guillaume,

Thanks for taking care of this however I've moved my workload to x86
servers since and to a different cloud provider.

I was using scaleway for testing out this package.

On Wed, 16 Jan 2019, 16:17 Guillaume Chatelet <notifications@github.com
wrote:

[2019-01-16 11:01] gchatelet commented on #46
Thx for letting me know. I'll go ahead and close this issue since I believe this is now fixed.
Feel free to reopen if needed.

[2019-01-16 11:01] #46 closed

[2019-01-16 11:03] gchatelet commented on #45
@Mizux the build is now fixed. I'm closing the issue.

[2019-01-16 11:03] #45 closed

[2019-01-21 08:39] gchatelet opened #59 "Mips implementation is buggy"
The [enums](https://github.com/google/cpu_features/blob/master/include/internal/hwcaps.h#L53-L62) are not valid and should map to the [linux kernel instead](https://github.com/torvalds/linux/blob/master/arch/mips/include/uapi/asm/hwcap.h).

[2019-01-23 11:59] #47 closed

[2019-02-06 17:27] WilliamTambellini opened #64 "New tag request"
0.2 tag is already several months old.
Would you now be open to create a new tag (0.3.0 or whatever) ?
Kind

[2019-02-06 22:41] gchatelet commented on #64
Yes definitely, and especially with the recent addition of `ndk_compat` #47
I'm waiting a bit for some Android Teams (ping @roland-levillain ) to check that the build is working correctly before doing the actual tagging.

[2019-02-07 02:07] WilliamTambellini commented on #64
Cool. Could you also wait for the centos6 support PR ?

[2019-02-07 10:35] gchatelet commented on #64
Yep SGTM.

[2019-02-08 18:00] WilliamTambellini opened #65 "Link failure under centos 6 for the shared lib"
When trying to build with -DBUILD_SHARED_LIBS=ON :
...
[ 77%] Linking C shared library libcpu_features.so
cmake-3.13.3/bin/cmake -E cmake_link_script CMakeFiles/cpu_features.dir/link.txt --verbose=1
gcc-6.1.0/bin/gcc -fPIC -O3 -DNDEBUG  -shared -Wl,-soname,libcpu_features.so -o libcpu_features.so CMakeFiles/cpu_features.dir/src/cpuinfo_x86.c.o CMakeFiles/utils.dir/src/filesystem.c.o CMakeFiles/uti

[2019-02-13 11:04] gchatelet commented on #65
fixed by #66

[2019-02-13 11:04] #65 closed

[2019-03-07 11:37] 360CodeSafe opened #67 "the condition value of current loop is a tainted value"
https://github.com/google/cpu_features/blob/7806502271dfe79b417f636839dd9de41a0be16f/src/utils/list_cpu_features.c#L227-L246

in line 230: the condition value of current loop is a tainted value

[2019-03-14 07:24] gchatelet opened #68 "Make cpu_features fuzzing enabled"

[2019-03-18 18:36] WilliamTambellini commented on #4
I confirm the bug:

processor       : 1
vendor_id       : GenuineIntel
cpu family      : 6
model           : 44
model name      : Intel(R) Xeon(R) CPU           X5650  @ 2.67GHz
stepping        : 2
cpu MHz         : 2660.000
cache size      : 256 KB
physical id     : 0
siblings        : 4
core id         : 1
cpu cores       : 4
apicid          : 1
initial apicid  : 1
fpu             : yes
fpu_exce

[2019-03-18 23:04] WilliamTambellini commented on #4
Some have a point here : even if indeed non avx cpus are rare, "strange" CPUs could be often met when the user is using virtualized cpus (aka VM, even perhaps docker slaves) where the cpus features are not always preserved from host to vm.

[2019-04-25 19:33] aregm commented on #10
Actually, you can detect 2nd FMA in PIROM
avx512_2ndFMA  (5.4.11.2 PFF: Processor Feature Flag) 70h, bit 0
https://www.intel.com/content/dam/www/public/us/en/documents/datasheets/xeon-scalable-datasheet-vol-1.pdf

[2019-04-25 23:53] aregm opened #70 "Need release 0.3 from master."
Can you please release 0.3 from the master, so we can put it into conda?

[2019-04-26 08:06] gchatelet commented on #70
This is a duplicate of #64

[2019-04-26 08:06] #70 closed

[2019-04-26 08:08] gchatelet commented on #64
Integration from Android Team takes more time than I thought, I'll tag master with 0.3 now and we can add another tag later if needed.

[2019-04-26 08:12] gchatelet commented on #64
Done https://github.com/google/cpu_features/tree/v0.3.0

[2019-04-26 08:12] #64 closed

[2019-04-26 14:44] aregm commented on #64
@gchatelet Thanks

[2019-04-29 16:19] anton-malakhov commented on #64
@gchatelet Thanks! It still needs your attention as it is not marked as the latest release (https://github.com/google/cpu_features/releases/latest).
Also, I'm happy to announce [conda-forge feedstock](https://github.com/conda-forge/cpu_features-feedstock) for this library, so please don't forget to regularly mark stable releases. If you want to be listed as maintainer for the feedstock, please ope

[2019-04-30 08:35] gchatelet commented on #64
Thx @anton-malakhov! I just released v0.3.0.

[2019-05-21 21:32] noloader opened #71 "Missing ARMv7 define"
Thanks for the `cpu_features` library.

It looks like the library is missing a define for ARMv7. ARMv7 is important for some hand tuned algorithms. For example, one might bundle [Andy Polyakov's Cryptogams](https://www.openssl.org/~appro/cryptogams/) [AES](https://wiki.openssl.org/index.php/Cryptogams_AES) and [SHA](https://wiki.openssl.org/index.php/Cryptogams_SHA) algorithms, and make the baseli

[2019-05-21 23:11] shawnl opened #72 "should use builtin_cpu_features on gnu/linux"
i.e. https://gcc.gnu.org/onlinedocs/gcc-6.1.0/gcc/PowerPC-Built-in-Functions.html#PowerPC-Built-in-Functions

this should be a tiny bit faster than getauxval() when it is supported.

[2019-06-13 09:21] gchatelet commented on #72
Thx for noticing, the code is [indeed quite compact](https://godbolt.org/z/728HID).
For now I'm a bit reluctant to add optimizations based on compilers because it will make the code more complicated.

The design of this library is to pay a small price at startup to collect features, but it's not designed to pay the smallest price possible.

I'm happy to implement this change if this issue collects

[2019-06-22 22:49] psiegl opened #78 "suitability of using cpu_features for fundamental libc functions"
The README claims the above. But while grepping through the code, `memcpy` and `memcmp` are at least used already in the code from the libc library. Hence when implementing such based on `cpu_features` one would create a loop of dependencies. I assume that `cpu_features` requires a re-work to not utilize libc functions internally.

[2019-06-24 12:15] gchatelet commented on #78
Yes indeed.
As a matter of fact, over the last years, I came to learn quite a lot on the relationship between compilers and the libc.

For instance, it is pretty hard to make sure the compiler won't generate a `memcpy` by itself even if you don't write it. Two examples:
 - [structure copy](https://godbolt.org/z/UlVytv)
 - [plain C loops](https://godbolt.org/z/2N2Kta)

There are ways to prevent thi

[2019-06-24 13:00] psiegl commented on #78
Nope not so far. I just stumbled across it and thought it might need to be fixed ;-)

[2019-06-29 01:45] tlemo opened #82 "Consider adding cpu_features to vcpkg"
Just an idea, adding cpu_features would be a great addition to to https://github.com/microsoft/vcpkg

[2019-07-08 03:39] aregm opened #85 "Request for the new release"
@gchatelet Can you please release 0.4 from the master so we can update the conda package (https://anaconda.org/conda-forge/cpu_features) for further usage of cache information?

[2019-07-11 09:38] gchatelet commented on #78
Keeping this issue around for now

[2019-07-11 09:51] gchatelet opened #86 "Completed missing ARM features"
- `swp` SWP instruction (atomic read-modify-write)
- `_26bit` "26 Bit" Model (Processor status register folded into program counter)
- `fpa` Floating point accelerator
- `crunch` MaverickCrunch coprocessor
- `thumbee` ThumbEE
- `vfpd32` VFP with 32 D-registers
- `lpae` Large Physical Address Extension (>4GB physical memory on 32-bit architecture)
- `evtstrm` kernel event stream using generic archi

[2019-07-11 09:51] #86 closed

[2019-07-11 09:56] gchatelet opened #87 "Add missing X86 features"
Meaning of cpu features can be found here https://en.wikipedia.org/wiki/CPUID

 - `clflushopt`
 - `clfsh`
 - `clwb`
 - `cx8`
 - `dca`
 - `fpu`
 - `hle`
 - `mmx`
 - `pclmulqdq`
 - `rdseed`
 - `rtm`
 - `sse2`
 - `sse3`
 - `sse`
 - `ss`
 - `tsc`
 - `vaes`

fixed by #73 and #76

[2019-07-11 09:56] #87 closed

[2019-07-11 10:34] gchatelet commented on #85
Done https://github.com/google/cpu_features/releases/tag/v0.4.0

[2019-07-11 10:34] #85 closed

[2019-07-11 16:12] aregm commented on #85
@gchatelet Thanks!

[2019-07-16 06:43] gchatelet opened #89 "cpu_features does not build on BSD"

[2019-07-16 06:43] #89 closed

[2019-07-16 11:09] gchatelet opened #91 "Missing header for `cpu_features_cache_info.h`"
`cpu_features_cache_info.h` is missing when installing `cpu_features`

[2019-07-16 11:09] #91 closed

[2019-07-16 11:22] gchatelet commented on #82
I'm not familiar with Microsoft's `vcpkg` but contributions are welcome.

[2019-07-16 17:43] tlemo commented on #82
No promises, but I might give it a try if I get a chance (I don't have experience with adding packages to vcpkg either)

For reference, these seem to be the basic instructions: https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md

[2019-07-16 17:44] tlemo commented on #82
@mluparu, does the vcpkg team take requests to add new packages?

[2019-07-16 18:04] mluparu commented on #82
Yes, of course. Start by submitting a new port requests here: https://github.com/microsoft/vcpkg/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22new+port+request+-+consider+making+a+PR%21%22+

You can also consider submitting a PR for the port directly to https://github.com/microsoft/vcpkg. This can speed up things significantly

[2019-11-25 18:20] robertarnesson opened #96 "no member named 'vfpv' in 'ArmFeatures' when compiling ndk_compat for arm"
Compiling ndk_compat for Android arm devices results in the error below:

`/build/src/ndk_compat/cpu-features.c:118:21: error: no member named 'vfpv' in 'ArmFeatures'
  if (info.features.vfpv) g_cpuFeatures |= ANDROID_CPU_ARM_FEATURE_VFPv2;
[code]

[2019-11-26 10:03] gchatelet commented on #96
Thx it's a typo, it should have been `vfp` ([code](https://github.com/google/cpu_features/blob/d395dfa026d3c1177bb0e27ff3d1c95d04f42382/include/cpuinfo_arm.h#L24)).

[2019-11-26 10:05] #96 closed

[2019-11-28 11:08] tkorays opened #97 "cpu microarchitecture is not correct"
CPU-Z shows that CPU's code name is `Coffe Lake`, but this code's output is `Kaby Lake`.

[2019-11-28 11:53] gchatelet commented on #97
Can you give me the output of `list_cpu_features --json` ?

[2019-11-29 03:27] tkorays commented on #97
[code]
The wikipedia shows that The coffee lake's cpuid code(EAX) is 0x0906EA or 0x0906EB.

I think CannonLake, WhiskeyLake, IceLake,  CometLake may get wrong results.

[2019-12-02 21:48] wmark commented on #4
Non-AVX are not negligible indeed, imho. The entire class of Atom notebooks, likely with low memory, don't have AVX; and run a 32 bit operating system.

[2020-01-06 15:23] #97 closed

[2020-01-15 18:49] c0d1f1ed opened #101 "Support disabling of extensions"
To test all code paths of apps that use cpu_features to select between different implementations of an algorithm, it would be useful to be able to mock having a CPU with fewer features than actually supported.

While this can be done in wrapper layer which uses cpu_features to query the real feature set, little prevents direct use of cpu_features functions that would break the purpose of the wrapp

[2020-01-16 09:14] gchatelet commented on #101
Thx for the suggestion @c0d1f1ed. I think it's a great idea.
Let me think about how to implement it.

[2020-01-17 15:57] gchatelet commented on #101
@c0d1f1ed would something along the lines of eb59787849400f93167ee7a1945591232e487e78 work for you? Do you see any shortcomings with this?

[2020-01-17 18:29] c0d1f1ed commented on #101
One minor concern (or rather a follow-up feature request) is that it's non-trivial to know which set of extensions is supported by each CPU micro-architecture. Even just the mix of SSE4.1, SSE4.2, SSE4a, POPCNT, and LZCNT one can end up with in practice gets confusing quite quickly (https://en.wikipedia.org/wiki/SSE4#Supporting_CPUs). It's common for software to check for one of these features and

[2020-01-28 14:34] baentsch opened #102 "Compile-time checks not OK?"
Hi, when following [your readme](https://github.com/google/cpu_features#checking-compile-time-flags) my compiler complained and I can't disagree with it: Your code
```CPU_FEATURES_COMPILED_X86_AVX || features.avx;```
after CPP expands to
```defined(__AVX__) || features.avx;```
and that doesn't compile (or is there a trick to get the CPP-command `defined` to become executable?).

--> Wouldn't it be

[2020-01-28 19:48] gchatelet commented on #102
Thx for letting me know @baentsch . This code makes no sense indeed, I don't know what happened.
I've a #103 pending to fix it.

[2020-01-29 05:13] baentsch commented on #102
@gchatelet Thanks very much for the quick reaction! Could you possibly also amend your PR by fixing what I perceive to be a typo on "CPU_FEATURES_COMPILED_x86_AVX2" (to "CPU_FEATURES_COMPILED_X86_AVX2")? The lowercase "x" (different to the uppercase "X" in all other macros) caused me a few more grey hairs not seeing immediately why AVX2 was the only feature not properly working in our code -- and

[2020-01-29 07:18] Mizux commented on #102
@googlebot I consent

[2020-01-29 10:00] #102 closed

[2020-02-05 10:22] leshchenko opened #106 "Fatal error: 'cpu-features.h' file not found"
I downloaded lib and copied it to my project directory. My CMakeLists.txt :

[code]

My test.cpp file:

[code]
I have `10: fatal error: 'cpu-features.h' file not found` error.

Please tell me what I'm doing wrong.
Thanks.

[2020-02-05 10:29] Mizux commented on #106
you must use `target_link_libraries()` ... or move up the `link_libraries()` IMHO

[2020-02-05 11:05] leshchenko commented on #106
@Mizux Thanks for the quick reply. Could you please help me in case I want to use `cpu-features.h` from https://github.com/google/cpu_features/tree/master/ndk_compat ?

[2020-02-05 13:23] Mizux commented on #106
in this cas e you should have something like this I guess:
[code]

[2020-02-06 08:19] leshchenkoEk commented on #106
@Mizux Unfortunately it doesn't work

[2020-03-04 15:26] baentsch opened #108 "Shared build not working?"
Positive statement first: All works fine when doing static builds. Our project that wants to use `cpu_features` has to build its libraries shared, though, too, and there I'm running into problems:

I read and followed these suggestions (https://github.com/google/cpu_features/issues/44 ) as well as the [subproject build instructions](https://github.com/google/cpu_features/blob/master/cmake/README.m

[2020-03-04 16:13] Mizux commented on #108
According to the code:
https://github.com/google/cpu_features/blob/b5c271c53759b2b15ff91df19bd0b32f2966e275/CMakeLists.txt#L17-L24

So i would say it is discouraged but it should be supported. We currently don't have any CI jobs testing it since we don't have usage of this but i'll try to fix it ASAP (at least on linux since symbols are not hidden and you don't need dllimport/dllexport shenanigan

[2020-03-04 16:30] baentsch commented on #108
@Mizux Thanks for the quick reaction. I also agree that activating PIC automatically when BUILD_SHARED_LIBS is ON makes sense: I added it manually in my test above because I saw the explicit OFF in the baseline CMakeLists--but that didn't change the outcome...
FYI, while [our project](https://github.com/open-quantum-safe) has a cross-platform (incl. Windows) goal we'd need `cpu_features` primarily

[2020-03-11 09:54] gadoofou87 opened #109 "CMake requires a CXX compiler"
but he's not needed at all. It may be worth replacing `project(CpuFeatures VERSION 0.1.0)` with `project(CpuFeatures VERSION 0.1.0 LANGUAGES C)` in CMakeLists.txt. What do you think?

[2020-03-11 10:15] Mizux commented on #109
After a quick check CMake 3.0 `project()` supports `LANGUAGES`.
see: https://cmake.org/cmake/help/v3.0/command/project.html

[2020-03-11 13:40] #109 closed

[2020-03-11 20:54] #108 closed

[2020-03-11 21:21] Mizux opened #114 "CMake compilation fail on ppc64le"
Currently the compilation fail on ppcle64

log
[code]
src: https://travis-ci.org/github/google/cpu_features/jobs/661260040#L223-L228

Travis-CI CMake version `3.5.1`
src: https://travis-ci.org/github/google/cpu_features/jobs/661260040#L144-L145

while CMake added support for `VERSION_GREATER_EQUAL` in CMake 3.7
src: https://cmake.org/cmake/help/v3.7/release/3.7.html#commands

[2020-03-11 21:21] Mizux commented on #114
Seems to be a bug in googletest -> need to open an issue there

[2020-03-12 10:10] Mizux commented on #114
related to https://github.com/google/googletest/issues/2711

[2020-03-24 18:14] fireice-uk opened #116 "Detection of Zen2 microarch"
The project that I'm working on needs detection of Zen2 microarchitecture.

Most notably, Zen/Zen+ hasn't got physical YMM registers (they are simulated in microcode), therefore when choosing between code written for 128-bit vectors and code for 256-bit vectors, the former option will will be faster on Zen+ while the latter on Zen2 even though both support AVX on paper.

Adding it doesn't look too

[2020-04-03 10:48] gchatelet commented on #116
We should definitely support all the microarchitectures from
https://en.wikichip.org/wiki/amd#Microarchitectures

And PR are more than welcome to support them !

[2020-04-06 23:17] jlquinn opened #117 "Add C++ namespace to docs"
For C++, the library defines everything within namespace CpuFeatures::.  Please add a note to that effect to README.md so we don't have to grep the code to figure out what's going on :-)

[2020-05-20 11:21] mablanchard opened #118 "CMake find_package() version mismatch"
Building cpp_features 0.4.1 on both Linux and Windows, the CMake generated configuration script report a 0.1.0 package version, producing errors like:

[code]

Having a look at at `CpuFeaturesConfigVersion.cmake`, it feels like `PACKAGE_VERSION` isn't matching the project's version:

[code]

[2020-05-20 13:39] Mizux commented on #118
simply the projection version has never been updated... https://github.com/google/cpu_features/blob/339bfd32be1285877ff517cba8b82ce72e946afd/CMakeLists.txt#L9

[2020-06-25 23:40] jeffhammond opened #120 "AVX-512 FMA count detection"
Would you like, or would you accept, contribution that detects the number of AVX-512 FMAs in Intel processors?  This is important in math libraries because processors with 1 FMA often perform better using AVX2 (or AVX3-256) code paths because of the frequency issues discussed in https://github.com/google/cpu_features/issues/10.

I've already solved this problem in https://github.com/jeffhammond/vp

[2020-06-30 07:41] gchatelet commented on #120
Yes ! I would be very interested in these ! Thank you for the offer.

[2020-06-30 07:47] gchatelet commented on #117
@jlquinn would you mind sending a PR to this effect?

[2020-07-05 14:49] ValZapod commented on #29
Why are you sure it is correct?

[2020-08-07 09:53] hjmallon opened #121 "Support for macOS/iOS with ARM64 CPU"
This may also help with iOS?

Here is part of the `sysctl -a` from an Apple DTK. These can be queried with `sysctlbyname`.

[code]

[2020-09-21 07:50] gchatelet opened #126 "Update features for AArch64 to Linux 5.8"
This adds the following features: dcpodp, sve2, sveaes, svepmull, svebitperm, svesha3, svesm4, flagm2, frint, svei8mm, svef32mm, svef64mm, svebf16, i8mm, bf16, dgh and rng.

With these, all features used by Linux 5.8 on AArch64 is supported.

All new fields can be found in https://elixir.bootlin.com/linux/v5.8.1/source/arch/arm64/include/uapi/asm/hwcap.h#L59-L76

[2020-09-21 07:50] #126 closed

[2020-09-21 07:54] gchatelet opened #127 "Add support for Tiger Lake and Sapphire rapids Intel microarchitectures"

[2020-09-21 07:54] #127 closed

[2020-09-21 07:56] gchatelet opened #128 "Detect future Intel AVX/AMX features"
detects AVX-512 BF16, introduced in Cooper Lake
detects AVX-512 VP2INTERSECT, introduced in Tiger Lake
detects AMX, introduced in Sapphire Rapids
This is documented and has been tested.

[2020-09-21 07:56] #128 closed

[2020-09-21 08:01] gchatelet commented on #118
@Mizux can I ask you to sen a PR to update to 0.5.0?

[2020-09-21 08:27] gchatelet commented on #106
@leshchenkoEk can you confirm that it works now?

[2020-09-21 08:47] Mizux commented on #82
FYI it seems the 0.4.1 make its way into vcpkg: https://github.com/microsoft/vcpkg/tree/master/ports/cpu-features

[2020-09-21 08:52] Mizux commented on #114
PR have been merged so travis-ci was fixed 5months ago...
For the record:
last failure: (build 343) https://travis-ci.org/github/google/cpu_features/builds/661260034
first pass: (build 363) https://travis-ci.org/github/google/cpu_features/builds/681025968

[2020-09-21 09:57] #117 closed

[2020-09-21 09:59] #118 closed

[2020-09-21 10:09] mablanchard commented on #118
Many thanks!

[2020-09-21 10:52] #114 closed

[2020-09-21 10:52] #82 closed

[2020-09-21 11:31] Mizux commented on #106
Should be fixed by ma patch see the comment in the PR...

[2020-09-21 11:42] #106 closed

[2020-09-22 07:29] #120 closed

[2020-10-09 12:16] gchatelet commented on #4
@Myriachan how would you detect `ssse3`, `sse4.1` and `sse4.2` on Windows for pre AVX cpus?
`IsProcessorFeaturePresent` seems to stop at `sse3`.

[2020-10-09 14:33] wmark commented on #4
FYI, x86-32–only cpus with `sse4`* exist, for example Intel's *Quark* series (cut from *Silvermont*).

[2020-10-09 15:20] #4 closed

[2020-10-09 15:24] gchatelet commented on #71
A gentle ping @noloader

[2020-10-09 15:30] gchatelet commented on #43
The PR has been merged so I think this issue is fixed.
Please re-open it if it's not the case @fuzun

[2020-10-09 15:34] #23 closed

[2020-10-15 07:57] gchatelet opened #140 "Atom processor detected as X86_UNKNOWN"
family: 6
model: 28
stepping: 2
Name: Intel(R) Atom(TM) CPU  230   @ 1.60GHz

[2020-10-15 08:18] Mizux commented on #140
ref:
https://ark.intel.com/content/www/us/en/ark/products/35635/intel-atom-processor-230-512k-cache-1-60-ghz-533-mhz-fsb.html
and
https://en.wikichip.org/wiki/intel/atom/230#Documents

where did you get model and stepping ?

[2020-10-15 08:49] gchatelet commented on #140
from `/proc/cpuinfo` it's an old box of mine :)

[2020-10-15 09:40] Mizux opened #141 "CMake: version management"
Currently the version is hard coded directly in `CMakeLists.txt`, e.g.:
https://github.com/google/cpu_features/blob/a8397ba4591237c17d18e4acc091f5f3ebe7391e/CMakeLists.txt#L9

So each time a new release is pushed, using the github release interface, you must do the sync manually with the CMakeLists.txt

We should instead try to generate it from the last git tag (and fallback to 9.9.9 or 9999 like

[2020-10-15 14:14] gchatelet commented on #141
Thanks for the proposal! How does this interact with installation? Does it put a burden on package maintainers?

[2020-10-15 15:11] Mizux commented on #141
for package maintainers using a git clone with the tag, it should work.

Now the bad news, for archive based build, you'll end up with the fallback i.e. the wrong version name...

[2020-10-15 20:32] gchatelet commented on #141
As per our off line discussion let's create a simple bash script that will take care of the release process (version bump, tag, github release and release notes)

[2020-10-16 11:44] #141 closed

[2020-10-23 06:59] mablanchard opened #143 "Prefer CMAKE_POSITION_INDEPENDENT_CODE over BUILD_PIC"
Would be nice to use the standard [`CMAKE_POSITION_INDEPENDENT_CODE`](https://cmake.org/cmake/help/latest/variable/CMAKE_POSITION_INDEPENDENT_CODE.html) CMake build configuration variable over the custom `BUILD_PIC` for position independent code generation.

[2020-10-23 07:04] Mizux commented on #143
was on my todo list, forget about it.

BTW thanks for the feedback !

[2020-11-04 08:30] shridhargowda100 opened #145 "ECCN for cpu_features"
Hi, For documentation purpose and project release process we need the Export control classification number(ECCN) for cpu_features if it applies. Can you please let me know the ECCN ?

[2020-11-04 09:18] Mizux commented on #145
I'm not an expert, I think cpu_features is **NOT** on the Commerce Control List (CCL) so maybe, you could use `EAR99`, but you should ask to a lawyer instead.

ref:
https://www.bis.doc.gov/index.php/licensing/commerce-control-list-classification/export-control-classification-number-eccn
https://www.bis.doc.gov/index.php/documents/regulations-docs/13-commerce-control-list-index/file

[2020-11-28 07:54] Narasimha1997 opened #146 "Python bindings"
This is not an issue as such.
Just wrote python bindings for this library. Thanks for this awesome repo!

https://github.com/Narasimha1997/py_cpu

[2020-11-28 20:38] yurivict opened #147 "[regression] 0.6.0 fails to build on FreeBSD: error: "Unsupported OS""
[code]

0.4.0 was building fine.

[2020-12-01 14:57] ThomasHabets opened #148 "Building fails on Raspberry Pi OS when run with 64bit kernel since cpu_features mistakes the kernel's arch for userspace's"
[code]

So this is 64bit arm architecture with a 32bit userland. Default GCC target is correctly 32bit, since `__aarch64__` doesn't seem to be defined.

(again a problem that probably would have been avoided if people would just stop using cmake and use something working like autotools)

[2020-12-01 19:51] Mizux commented on #148
So you bump into
https://github.com/google/cpu_features/blob/6d0767e0d9269919452dfa20a326cb4a6529171a/include/cpuinfo_aarch64.h#L152-L154
since `CPU_FEATURES_ARCH_AARCH64` is not defined which should be the case if passing there.
https://github.com/google/cpu_features/blob/3cc8f310d950b44cc6d2ead8057cf43330a726fd/include/cpu_features_macros.h#L42-L44

BUT I suppose CMake correctly figure out it is

[2020-12-01 20:18] ThomasHabets commented on #148
@Mizux my install is not broken. It's not at all uncommon to have 64bit kernel with 32bit userland.

gcc clearly knows that it's building 32bit userland. I don't know what CMake is up to:

[code]

Thanks for the map into CMakeLists. No, `-DCMAKE_SYSTEM_PROCESSOR=arm` didn't work, CMake still thinks it's aarch64. Changing `cpu_features/CMakeLists.txt` to `set(PROCESSOR_IS_ARM TRUE)` instead of aarc

[2020-12-01 23:14] ThomasHabets commented on #148
Hmm, actually now that I think of it I'm pretty sure this is just normal stable supported raspberry pi os, but with `arm_64bit=1` set in `/boot/config.txt` to enable a 64bit kernel.

[2020-12-03 11:24] ThomasHabets commented on #148
Ah, confirmed. This is vanilla Raspberry pi OS, with the official 64bit kernel.

[2020-12-21 23:15] sbehnke commented on #121
On my M1 MacBook Pro 13" I have the following:

[code]

I've started adding support to query these on my machine and have it detecting a few of them now, but I'm having a hard time mapping between the Arm Features struct and the Apple optional names. Is there a description for what these mean on the `ArmFeature` struct? Also, for something like `hw.optional.armv8_2_sha512` and `hw.optional.armv8_2

[2020-12-22 02:20] sbehnke commented on #121
I figured out why it wasn't detecting as `aarch64` and it appears to be matching a bit better now.

[code]

It's getting there but I still need to fix the part that isn't coming from the flags.

[2020-12-28 17:27] zhsj opened #151 "cpuinfo_ppc.h includes internal header"
https://github.com/google/cpu_features/blob/e2f6dea65f05ab95ff61dda5443480a7a39781ee/include/cpuinfo_ppc.h#L20

However this internal file is not installed by cmake.

[2020-12-28 19:37] Mizux commented on #151
to add here if I'm not wrong
https://github.com/google/cpu_features/blob/e2f6dea65f05ab95ff61dda5443480a7a39781ee/CMakeLists.txt#L86-L88

[2021-01-04 11:58] hjmallon commented on #121
There are also tables here https://github.com/pytorch/cpuinfo/blob/master/src/arm/mach/init.c

[2021-01-05 21:46] sbehnke commented on #121
I can certainly add a table entry for the M1 CPU, but do I just take the values from the docker instance of cpu_features? I'm not sure where to find a complete list of non-optional features implemented on the CPU.

[2021-01-10 16:48] ValZapod commented on #29
@psteinb I suppose you were talking about https://github.com/psteinb/compass right, not about https://github.com/psteinb/deeprace?

Can you compare the implementations to understand where "tick faster" comes from?

[2021-05-21 09:27] gchatelet commented on #121
To be clear, we are definitely interested in supporting Apple M1 but we are willing to wait a bit for the M1 build ecosystem to settle as it is unclear yet how to make it work with Universal2 builds.

[2021-06-06 17:42] yurivict opened #158 "Fails on FreeBSD: error: "Unsupported fallback detection of SSE OS support.""
[code]

[2021-06-07 08:50] Mizux commented on #158
https://github.com/google/cpu_features/blob/bc2846e78faeb26b8a46c17df369d4e5f1f9e2bb/src/cpuinfo_x86.c#L1230-L1274

@yurivict Do you know which functions/implementation we could use to support SSE detection on a FreeBSD OS ?

[2021-06-07 08:53] Mizux commented on #158
First it means we must detect FreeBSD OS here
https://github.com/google/cpu_features/blob/3e8243b7d9951c078259c3186c039a6e8f036055/include/cpu_features_macros.h#L70-L85

[2021-06-07 08:56] yurivict commented on #158
You can detect FreeBSD with
[code]

[2021-06-11 08:37] gchatelet commented on #147
Duplicate of #158

[2021-06-11 08:37] #147 closed

[2021-06-11 08:39] #145 closed

[2021-06-22 09:12] #140 closed

[2021-06-30 09:51] #151 closed

[2021-06-30 10:06] gchatelet opened #168 "Add GitHub workflows"
Let's migrate CI to github so we can use Vagrant and test FreeBSD.

[2021-06-30 10:38] #116 closed

[2021-06-30 13:02] #158 closed

[2021-06-30 13:08] Mizux opened #169 "Use CTest default state"
We should remove our `option(BUILD_TESTING)` and simply rely on CTest default module behaviour

ref: https://cmake.org/cmake/help/latest/module/CTest.html#module:CTest

[2021-06-30 13:15] #169 closed

[2021-07-02 10:51] toor1245 opened #172 "What about documentation?"
It seems to me for the usual user, it will be unclear what CPU features have(excluding what was described in README samples).

I would like to propose to introduce documentation that will include the API documentation e.g. [Doxygen](https://www.doxygen.nl/index.html) with GitHub pages or Github Wiki.

[code]
Description of structures, what they contain, what each field defined.

Also, it will be g

[2021-07-03 15:06] mldulaney opened #175 "Build failing due to lack of googletest; used to be disabled by default"
Per cmake/README.md:

  CMake default options for cpu_features is Release built type with tests
  disabled. To enable testing set cmake `BUILD_TESTING` variable to `ON`,
  [.travis.yml](../.travis.yml) and [appveyor.yml](../appveyor.yml) have up to
  date examples.

I would prefer if this was returned to disabled by default as per the documentation.

[2021-07-07 08:13] Mizux commented on #175
Sorry for this behaviour change, we decided to simply use `include(CTest)` and rely on the default value provided by this CMake builtin module to follow the documentation...
ref: https://cmake.org/cmake/help/latest/module/CTest.html

note: You can still use `-DBUILD_TESTING=OFF` to disable it.

todo: Update the README.md accordingly

[2021-07-07 14:30] gchatelet commented on #175
Documentation is now

[2021-07-07 14:30] #175 closed

[2021-07-07 15:31] gchatelet commented on #172
Thx for the issue. I agree that more documentation would be appreciated, especially in the headers.
So let's start with documenting each field there.

Now, I'm not too fond of Doxygen in this case.
- For the public API : documenting the header should suffice.
- For the implementation : the code relies on macros to provide different logic for different combinations of CPU x OS. This means that we s

[2021-07-09 06:35] toor1245 commented on #172
Ok, what about we can to create documentation site like [googletest](https://google.github.io/googletest/) where will guides, changelog, references. I created simple docs with help of VuePress [cpu_features_test_docs](https://toor1245.github.io/cpu_features/), ref to implementation: [test_branch](https://github.com/toor1245/cpu_features/tree/test_branch/docs)

[2021-07-12 10:00] toor1245 commented on #172
@gchatelet

[2021-07-15 11:00] dkozel commented on #121
Is there any fix possible to resolve the compile issue? It'd be very preferable to report an empty list of CPU features than to fail to compile.

[2021-09-09 17:59] mgrouch commented on #148
I've run into same issue

https://github.com/anbox/anbox/issues/1905

[2021-09-10 07:08] Mizux commented on #148
Does someone could give use the value of `CMAKE_HOST_SYSTEM_PROCESSOR` ?
i.e. adding in a CMakeLists.txt:
[code]
ref: https://cmake.org/cmake/help/latest/variable/CMAKE_HOST_SYSTEM_PROCESSOR.html

i.e. I'm curious to know if CMake can "find" the userland system target and not the "kernel" one

[2021-09-10 09:17] ThomasHabets commented on #148
[code]

[2021-09-10 09:21] ThomasHabets commented on #148
[This question](https://stackoverflow.com/questions/11944060/how-to-detect-target-architecture-using-cmake) seems to be saying there's no good way, but there's a workaround.

[2021-10-14 16:11] Gio-Jimdo opened #179 "Including cpuinfo_arm.h from an Apple M1 target."
While installing some other node dependencies, one of them attempts to build `cpu_features` using `node-gyp` and fails with the following message. Is there an environment variable the code will look for to control this, or is it simply an issue on `Apple M1` or am I jus totally off-base?

[code]

[2021-10-14 16:40] Gio-Jimdo commented on #179
... and how would one set an environment variable that un-sets these flags?

[2021-10-18 11:56] #71 closed

[2021-10-20 09:43] gchatelet opened #182 "Wrong cache detection of old processors"
Old processors -like Pentium 4- provide cache information via descriptors available in cpuid leaf 2.
https://www.felixcloutier.com/x86/cpuid#input-eax-=-02h--tlb-cache-prefetch-information-returned-in-eax--ebx--ecx--edx

On newer processors this information is provided via leaf 0x00000004 for Intel and leaf 0x8000001D for AMD.

Both detection run [sequentially](https://github.com/google/cpu_featur

[2021-10-20 15:02] #182 closed, assigned to gchatelet

[2021-10-23 16:29] mscdex opened #185 "master branch broken on Windows and macOS"
As of https://github.com/google/cpu_features/commit/cf589a28444eadf01fc94fd7afaf517be2cf9774 `view()` is used on all platforms in `src/cpuinfo_x86.c`, which causes compilation to fail on Windows on macOS since `view()` is defined in `internal/string_view.h`, but [that header is not included on those platforms](https://github.com/google/cpu_features/blob/cf589a28444eadf01fc94fd7afaf517be2cf9774/src

[2021-10-25 07:48] #185 closed, assigned to Mizux

[2021-10-28 14:30] Mizux opened #197 "ci: Add ios jobs"
## Context
following PR #196 we should be able to have an iOS workflow using the ios SDK provided in the macos-11 virtual-environments.

* [ ] Add new workflows: `aarch64_ios.yml` and `arm_ios.yml`
* [ ] Update Matrix in ci/README.md by adding the new badges

## Biblio

* CMake ios SDK usage doc
https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-ios-tvos-or-watc

[2021-11-09 06:51] junsik-kim0 commented on #172
I also agree that the document is required
How can I know the public API information?
I am looking for a bug in open source and report a bug in the open source, so I need a list of cpu_feature APIs. Where can I know?

[2021-11-09 08:38] toor1245 commented on #172
gentle ping @gchatelet

[2021-11-14 12:44] RainbowMiner opened #200 "list_cpu_features.exe does not detect SSE42 on Xeon X5650 (Windows)"
Here is the documentation of that specific CPU:
https://ark.intel.com/content/www/us/en/ark/products/47922/intel-xeon-processor-x5650-12m-cache-2-66-ghz-6-40-gts-intel-qpi.html

Here is the output of list_cpu_features.exe:
[code]

If booted into Linux, sse4_2 is found. Partial output from cat /proc/cpuinfo:
[code]

[2021-11-14 18:01] toor1245 commented on #200
Hi @RainbowMiner, It is related to https://github.com/google/cpu_features/issues/4

[2021-11-14 19:11] toor1245 commented on #200
@gchatelet, @Mizux  I see that all processors with uarch Westmere (Server) and Core EX has sse4, can we provide detection for Family 6 Model 47?

[products-formerly-westmere-ex](https://ark.intel.com/content/www/us/en/ark/products/codename/33175/products-formerly-westmere-ex.html)

Almost all processors with uarch Westmere (Server) and Core EP/Gulftown support SSE4 except:
[intel-xeon-processor-l5

[2021-11-15 09:05] gchatelet commented on #200
@RainbowMiner can you run `cpuid -r -1` under linux and paste the result here so we can investigate further (and add the corresponding tests). I think we are indeed falling through the cracks of https://github.com/google/cpu_features/issues/4#issuecomment-706217627.

[2021-11-16 01:32] toor1245 opened #201 "CMake googletest-download failed"
At the moment, all tests fail due to
[code]

@Mizux could you take a look?

[2021-11-16 01:48] toor1245 commented on #201
https://github.com/google/cpu_features/pull/202

[2021-11-16 08:29] Mizux commented on #201
Closed by #202 Thx again !!!

[2021-11-16 08:29] #201 closed

[2021-11-16 12:31] toor1245 opened #203 "Migration to Cirrus CI for FreeBSD amd64"
Periodically for FreeBSD amd64 CI jobs fail
[code]
@Mizux Can we migrate to Cirrus CI?
Since it is first CI service with support FreeBSD

[cirrus-ci-features](https://cirrus-ci.org/features/)
[cirrus-ci-freebsd-guide](https://cirrus-ci.org/guide/FreeBSD/)

[2021-11-18 05:36] rprichard opened #205 "CpuFeatures_StringView_IndexOf bus error on arm32 (copy/equals)"
The optimize copy/equals functions are using unaligned accesses of types uint64_t, uint32_t, and uint16_t to access strings. I think it's probably breaking the C "aliasing rules", but it's also making LLVM assume that the address of a chunk is aligned according to the type used to access it.

On armeabi-v7a Android, most simple load/store instructions don't have to have aligned memory operands, bu

[2021-11-18 23:13] arkivm opened #207 "Add clang-tidy workflow in CI"
Similar to `clang-format`, we can benefit from running `clang-tidy` in the CI
Could catch issues like this https://github.com/google/cpu_features/pull/204#discussion_r752330957

[2021-11-22 14:53] gchatelet commented on #205
Thx a lot for reporting. The code is not compliant you're absolutely right. I'll fix it ASAP.

[2021-11-22 16:50] #205 closed

[2021-11-29 14:59] Gio-Jimdo commented on #179
Is this issue addressed by PR #150?

[2021-11-30 09:04] gchatelet commented on #148
Since userland is not the same as the kernel (ARM EABI5 vs aarch64) there is nothing cmake can do. In fact this is to be considered as a cross compilation, so you need to define a crosstool chain. See https://cmake.org/cmake/help/latest/variable/CMAKE_TOOLCHAIN_FILE.html

[2021-11-30 09:04] #148 closed

[2021-11-30 09:13] gchatelet commented on #200
A gentle ping @RainbowMiner.

[2021-11-30 09:18] gchatelet commented on #203
There are a bunch of CIs that could be interesting:
 - cirrus ci for FreeBSD
 - scaleway for Apple M1

Unfortunately we need to check pricing / policies and security before moving in that direction. Also more CI means more maintenance work so there's a trade off here.

[2021-11-30 09:37] ThomasHabets commented on #148
But **everything** else works with this kind of setup.

In my opinion it doesn't matter that cmake sucks, but you could take responsibility for the library building on perfectly normal systems. This isn't even historically any kind of odd case.

At the very least your cmake setup should allow me to override when cmake's autodetection is broken.

[2021-11-30 09:45] #179 closed

[2021-12-22 04:04] jwatte opened #210 "Doesn't build with cmake 3.22 on Apple MacBook"
Note that Apple no longer sells new x64 MacBooks. It's literally impossible to get a new x64 MacBook for an engineer joining a team.

When doing a `git clone git@github.com:google/cpu_features && cd cpu_features && mkdir build && cd build && cmake ../ && make` I get the following build errors:

[code]

So, the architecture here is `arm64` not `aarch64`, which is unfortunate, but a fact of life.
I

[2021-12-22 07:41] Mizux commented on #210
Feel free to send us a patch to:
https://github.com/google/cpu_features/blob/69d39934e83be9a0133d2850f15f5debd5eba06f/src/utils/list_cpu_features.c#L199-L201
here we should split this code in `aarch64 and Darwin` vs `linux aarch64`.

Otherwise CMake seems to correctly detect arm64 architecture and build for it.
note: You should consider to use `cmake -S. -Bbuild && cmake --build build -v` instead

[2021-12-22 07:47] Mizux commented on #210
ugly workaround: disable the build of list_cpu_feature
aka comment out the lines:
https://github.com/google/cpu_features/blob/69d39934e83be9a0133d2850f15f5debd5eba06f/CMakeLists.txt#L149-L151

[2021-12-28 13:17] toor1245 commented on #200
@gchatelet, the same behaviour
PNG: http://users.atw.hu/instlatx64/GenuineIntel/GenuineIntel00206F2_Eagleton_CPUID.png
CPUID Dump: http://users.atw.hu/instlatx64/GenuineIntel/GenuineIntel00206F2_Eagleton_CPUID.txt

[2022-01-12 14:07] gchatelet commented on #200
@toor1245

According to the [wikipedia page](https://en.wikipedia.org/wiki/Westmere_(microarchitecture)), I think it's safe to enable MMX, SSE, SSE2, SSE3, SSSE3, SSE4, SSE4.1, SSE4.2 for all Westmere CPUs. What do you think?

[2022-01-14 03:56] toor1245 commented on #200
@gchatelet, yes, I agree with you, but we need to improve the OS support logic for Windows, according to the Intel docs:

[code]
So, we need to determine which version of Windows supports the instruction set.
See: [Update WINVER and _WIN32_WINNT](https://docs.microsoft.com/en-us/cpp/porting/modifying-winver-and-win32-winnt?view=msvc-170)

it would also be nice if we also processed this case:
`PF_X

[2022-01-16 19:23] yurivict opened #215 "cpuinfo_x86_test fails on FreeBSD"
[code]

[2022-01-16 19:24] yurivict opened #216 "testsuite fails because googletest renamed master branch into main for some reason"

[2022-01-16 22:48] Mizux commented on #216
Hi,

which branch/tag did you use ?

on master it seems we are OK
https://github.com/google/cpu_features/blob/master/cmake/googletest.CMakeLists.txt.in

[2022-01-16 22:58] yurivict commented on #216
0.6.0

[2022-01-18 23:55] toor1245 opened #217 "[Proposal] Improve public API"
It would be great to improve the public API for porting the library.

My proposal is to add macro `CPU_FEATURES_EXPORT` to `include/cpu_features_macros.h` and add to public functions this export macro.
[code]

however, we have on point with shared library config
https://github.com/google/cpu_features/blob/149916384b7d94282bd647e19afa1c9df79f2dbd/CMakeLists.txt#L20-L31

Can we provide two structure

[2022-01-24 14:48] gchatelet commented on #216
The renaming away from `master` stems from community considerations. `master` is a loaded term that refers to slavery.
There is a wide effort to move away from it and use the `main` branch instead. Here are a few links:

 - https://developers.google.com/style/word-list#master
 - https://github.com/github/renaming
 - https://foundation.llvm.org/docs/branch-rename/

[2022-01-24 16:18] gchatelet commented on #217
Are you talking about porting the library to different languages? Which ones?

Not only there's a potential issue with bitfields but we are also not providing any ABI stability guarantees.
That's why we strongly discourage the use of shared libraries.

When this project was created, the vision was that it could be run on embedded devices with small memory footprint - hence C99 and bitfields.

I'm

[2022-01-26 16:35] yurivict commented on #216
Thanks.

[2022-01-26 16:35] #216 closed

[2022-01-28 22:10] Vertexwahn opened #221 "Bazel build support"
Would be nice if there would also be build support for Bazel

[2022-01-31 09:16] #200 closed

[2022-02-20 16:33] jmfriedt opened #224 "erroneous detection of SSE3 on Linux?"
Could it be that https://github.com/google/cpu_features/blob/main/src/impl_x86_linux_or_android.c#L47 is incorrect in searching for the "sse3" string in /proc/cpuinfo and should instead search for pni as stated at https://bugzilla.redhat.com/show_bug.cgi?id=491817 ?

Indeed on a Celeron J1900 as provided on [a single board computer]( http://advdownload.advantech.com/productfile/Downloadfile1/1-T36

[2022-02-20 16:57] toor1245 commented on #224
Hi @jmfriedt , thanks for noticing. According to wikipedia SSE3, also known by its Intel code name Prescott New Instructions (PNI). https://en.wikipedia.org/wiki/SSE3

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/arch/x86/include/asm/cpufeatures.h
https://forums.gentoo.org/viewtopic-t-587726-start-0.html

I think we can replace `sse3` to `pni`

cc: @gchatelet

[2022-02-22 10:42] gchatelet commented on #224
Yes let's do this.

[2022-02-22 13:19] gchatelet commented on #224
Fixed by #225

[2022-02-22 13:20] gchatelet commented on #224
Thx @jmfriedt for the patch and @toor1245 for the review.

[2022-03-25 19:16] alexbosworth opened #236 "Missing support for M1 features"
In this issue https://github.com/mscdex/cpu-features/issues/7#issuecomment-1079356004 we can see that there is an error on M1 MacOS, resulting in `dyld: missing symbol called`

Relevant trace

[code]

[2022-04-05 23:20] alexbosworth commented on #236
Not sure, but updating MacOS seems to have resolved this for me

[2022-04-05 23:20] #236 closed

[2022-04-22 15:33] didahalpha opened #238 "Installation Issues"
Hello,
Some of us aren't as savy on how everything is to be installed, so I am running into an issue trying to get this installed, so I can eventually get Volk installed, where I will then install GnuRadio, on RHEL 7.
As for this one, can you please provide the instructions on how to compile this code?

I tried, within the build directory that I created in the unzipped folder of this download:

An

[2022-04-27 08:32] gchatelet commented on #238
@Mizux to update README.md with installation instructions.

[2022-04-27 09:38] Mizux commented on #238
On my way to fix the doc !

Otherwise you can look at our docker based CI to figure the needd cmds

here you `cmake3 ...` only the run the "configure" step you also need the "build" step and the "install" step.

Basically
https://github.com/google/cpu_features/blob/b04a9daf7121a6c7e8d046a372fdc194ed2728a0/cmake/ci/docker/amd64/Dockerfile#L27-L29

note:on linux with the default generator (Makefile)

[2022-05-28 11:48] michael-roe opened #242 "Detect MIPS CPU options"
A commit to the Linux kernel on 24 October 2021 extended /proc/cpuinfo to include information about CPU options.

The CPU options include nan2008 (I.e. whether the FPU is supporting the 2008 version of the IEEE 754 standard or the earlier version). User space software sometimes needs to know this, so that it can use a math library appropriate for the floating point hardware.

To facilitate this, c

[2022-07-07 20:42] ajax16384 opened #245 "remove X86_AVX512_4VBMI2 in favour of X86_AVX512_4FMAPS"
avx512_4vbmi2 uses same detection bit as avx512_4fmaps
https://github.com/google/cpu_features/blob/3c4801d12d9bec823d03a572f4f53cd42fa02b42/src/impl_x86__base_implementation.inl#L360
https://github.com/google/cpu_features/blob/3c4801d12d9bec823d03a572f4f53cd42fa02b42/src/impl_x86__base_implementation.inl#L362

so X86_AVX512_4VBMI2 is redudant and may be completely removed

[2022-07-11 02:58] yuzibo opened #247 "Add supoort for riscv64?"
Hi,
Do we have a plan to support riscv64?
I am willing to do it but maybe need your help.
I am stuck on how to define RiscvFeatures struct:
[code]
I have a real riscv64 hardware by hand:)

[2022-07-11 17:52] toor1245 commented on #247
Since riscv cpu identification instructions can only be performed in [M-mode](https://riscv.org/wp-content/uploads/2015/11/riscv-privived-spec-v1.7.pdf). Machine level is the highest level and as far as I understand we can't even run it in userland so the best approach is to parse proc/cpuinfo see Linux implementation https://github.com/google/cpu_features/blob/main/src/impl_x86_linux_or_android.c

[2022-07-12 15:26] gchatelet commented on #245
I'm usually not fond of duplication but I think it makes sense to keep both - at least for now.
I'll update the header file to point out they are the same.
Thx @ajax16384 for reporting.

[2022-07-12 15:53] gchatelet commented on #245
I've added a comment on https://github.com/google/cpu_features/commit/db9ad9fc2ccfbbb1815c1459b2151d57b773ddd3.

[2022-07-12 20:12] ajax16384 opened #248 "missed X86 Intel Comet Lake detection"
missed Comet Lake detection

cpuinfo_x86.h
[code]

- no stepping 12 case for U Comet Lake flavor
https://github.com/google/cpu_features/blob/db9ad9fc2ccfbbb1815c1459b2151d57b773ddd3/src/impl_x86__base_implementation.inl#L536
[code]

- no case CPUID(0x06, 0xA5) for S/H Comet Lake
[code]

[2022-07-13 08:33] gchatelet commented on #248
@ajax16384 do you mind adding a test as well?
Something like https://github.com/google/cpu_features/commit/3c4801d12d9bec823d03a572f4f53cd42fa02b42#diff-35206f4b4b826d1011c7f40612491fcc1d480572cd4ea48e1bbd73049cf969a2

[2022-07-13 15:39] ajax16384 commented on #248
ok

[2022-07-16 19:47] jculpon commented on #242
xoogler who is subscribed to this bug: has this been merged into cpu_features public?

I don't see it as so on GitHub, but want to make sure I'm pulling latest source from here or Google official while recompiling things related to RedBleed.

[2022-07-18 13:42] gchatelet commented on #242
I don't see how this patch could be related to [RedBleed](https://comsec.ethz.ch/research/microarch/retbleed/) since it targets x86 cpus (Intel/AMD). That being said, #241 adds some additional detection options but not the one about nan2008.

[2022-07-18 14:05] jculpon commented on #242
Bonjour, @gchatelet! I am up too early in USA/ARIZONA TZ to know what CPU cores are and ARM-not x86_64(AMD) vs x86_64(INTEL) vs ARMvFoo. By @google official I just mean the vendored version of this library that is distributed via nightly builds, not chromium/WebKit or via KHTML-LIKE-GECKO browsers on tablets running INTEL ATOM or AMD LOW POWER MODE devices.

If it’s not adding the one about nan200

[2022-07-20 17:56] mqudsi opened #252 "Safety guarantees regarding code motion?"
Hi team,

I'm working with the rust-lang team on a concern that would overlap with cpu_features, and am specifically here because this project has been around for a long time, is well regarded, and looks to be very mature and well-designed!

My question is fairly simple - have you run into any issues due to a combination of inlined functions and code motion? Are there any steps the project itself

[2022-07-20 18:50] mqudsi opened #253 "Missing explicit LZCNT support via ABM?"
Intel and AMD advertise the presence of LZCNT via (the reuse of?) AMD's old ABM flag and not via BMI1/BMI2.

I think it's safe with a worst case scenario of testing for LZCNT via BMI1 giving you a false negative because I don't think any cpu advertising BMI1 or BMI2 doesn't implement LZCNT. You'll miss older (pre-Excavator, I think) AMD CPUs with ABM but no BMI1/BMI2, but I'm presuming that's fine

[2022-07-20 22:23] toor1245 commented on #253
Hi @mqudsi, thanks for the issue. As I understand correctly, you are concerned that we don't have the support of LZCNT explicitly and developers should check LZCNT via BMI1/BMI2. I found old processors that don't support BMI1. since leaf 0x07 is empty [AuthenticAMD0600F12_K15_Zambezi8C_CPUID](http://users.atw.hu/instlatx64/AuthenticAMD/AuthenticAMD0600F12_K15_Zambezi8C_CPUID.txt) and there is the

[2022-07-21 18:40] mqudsi commented on #253
Yup. Thanks for the fast response and the primary sources.

The first link you shared seems to be broken, though?

[2022-07-21 18:46] toor1245 commented on #253
Nope, it works, probably because this link is not safe
I'll send cpuid dump here:
[code]

[2022-07-21 18:49] mqudsi commented on #253
Thanks. It is indeed a proxy/firewall issue.

[2022-07-26 20:13] WilliamTambellini opened #260 "Intel(R) Xeon(R) Platinum 8275CL detected as skylake"
On a AWS C5 machine:
[code]
but
[code]
using commit 9613390.
Trying with master ....

[2022-07-26 20:15] WilliamTambellini commented on #260
Also detected as skylake with 0.7.0:
[code]

[2022-07-26 20:18] WilliamTambellini commented on #260
8275CL is supposed to be a cascadelake CPU:
https://www.cpu-world.com/Compare/354/Intel_Xeon_8275CL_vs_Intel_Xeon_W_W-11555MRE.html

[2022-07-26 20:28] WilliamTambellini commented on #260
todays master also id as skylake:
[code]

[2022-07-27 00:36] toor1245 commented on #260
thanks for the issue. According to https://en.wikichip.org/wiki/intel/microarchitectures/cascade_lake
[code]
I think we can add a check on stepping

[2022-07-28 10:22] #253 closed

[2022-07-28 11:14] #248 closed

[2022-07-28 19:29] mqudsi commented on #253
Thanks, @gchatelet. I'm glad you named it LZCNT and not ABM, as ABM can be confusing!

[2022-07-30 02:29] WilliamTambellini commented on #260
Tks @toor1245
Would you like me to take care of it/prepare a PR ?

[2022-07-30 13:32] toor1245 commented on #260
Yes, no problem

[2022-08-04 09:56] amitdo opened #263 "AVX_VNNI support?"
It seem you don't support it.

Alder Lake has `AVX_VNNI`. The next desktop and server CPUs from Intel will have it.

[2022-08-04 11:40] amitdo commented on #263
https://github.com/tensorflow/tensorflow/blob/18d203b1ef84b1/tensorflow/core/platform/cpu_info.cc#L226

[2022-08-04 18:20] toor1245 commented on #263
@amitdo, thanks for the issue. According to documentation, [intel-architecture-instruction-set-extensions-programming-reference 27 page](https://www.intel.com/content/dam/develop/external/us/en/documents/architecture-instruction-set-extensions-programming-reference.pdf) we can add it
![image](https://user-images.githubusercontent.com/43444946/182922341-b30f4449-b38f-4354-94e8-21acd6163c1e.png)

To

[2022-08-04 19:56] Mizux commented on #263
closed by #264

[2022-08-04 19:56] #263 closed

[2022-08-05 03:36] amitdo commented on #263
@toor1245, thanks.

[2022-08-09 15:05] toor1245 commented on #252
Hi @mqudsi, thanks for the issue! I think we should consider this case and add an appropriate approach to the documentation.
I have finished investigating this issue. First of all, it depends on compilers and versions of the compiler, so I don't think that it is possible to take into account all compiler optimizations, probably you can turn off optimization on specific code:
https://docs.microsoft

[2022-08-10 18:35] WilliamTambellini commented on #260
Hi @toor1245
so I suppose we have to add such logic/case:
if stepping >= 5 and stepping <= 7: cascadelake
probably in:
https://github.com/google/cpu_features/blob/main/src/impl_x86__base_implementation.inl
?

[2022-08-11 14:17] toor1245 commented on #260
Hi @WilliamTambellini, I think yes, but I'm worried about stepping 4 that was mentioned in wikichip `There are early CPUs which report stepping 4. Normally stepping 4 is Skylake X.` These are probably the first Cascade lake CPUs and perhaps they are not in public use.
@gchatelet, can we define stepping 4 as Skylake or should we parse a `brand_string` (see Identification section https://en.wikichip

[2022-08-12 20:09] mqudsi commented on #252
@toor1245 that's some extensive research! Thanks for taking the time to compile it all into one post.

I think it's important to distinguish between workarounds that cause the application to effectively hardcode its support for a CPU instruction vs those that allow runtime differentiation (which, as I understand it, is the *raison d'être* for the cpu_features library in the first place). To that e

[2022-08-14 21:59] toor1245 commented on #252
@mqudsi, I started comparing the assembler code generation of your `Compute` function example across supported cpu_features compilers (clang, msvc, gcc - latest versions) but can't reproduce this case with code motion

`x86-64 gcc 12.1 flags: -march="skylake" -Ofast`
`x86-64 clang 14.0.0 flags:  -march="skylake" -Ofast`
[code]
ref: https://gcc.godbolt.org/z/6WrY7GMM6 (gcc)
ref: https://gcc.godbolt

[2022-08-15 10:16] DaniAffCH commented on #247
@yuzibo Which board have you used? I would need this information to add a test

[2022-08-15 12:38] yuzibo commented on #247
Hi, @DaniAffCH
Thanks for working on that. My locally real riscv64 hardware is Unmatched boards.
[code]
So how can I help you to do test?
Or:
You can apply for  access to Unmatched boards' resources from here:
https://github.com/plctlab/riscv-lab-access
Any issue please let me know, thanks

[2022-08-15 14:17] DaniAffCH commented on #247
You could find the board name in the webpage where you bought it. It's just to give the test a meaningful name

[2022-08-15 14:30] yuzibo commented on #247
More info about Unmatched board is here:
https://www.sifive.com/boards/hifive-unmatched
The machines from plct is the same

[2022-08-15 14:41] DaniAffCH commented on #247
Thanks a lot! @yuzibo

[2022-08-15 15:06] toor1245 commented on #247
Hi @yuzibo, I'm wondering if we can run M-mode code in userspace as is the case with aarch64 for Linux.

Could you run the code under Linux riscv to see if you are getting an illegal instruction or some result, please?

[code]

[2022-08-15 15:18] yuzibo commented on #247
Oops：
[code]

[2022-08-15 15:47] toor1245 commented on #247
@yuzibo, probably mcpuid is deprecated, could you replace `mcpuid` to `misa`, please?

[2022-08-15 15:55] yuzibo commented on #247
It can be compiled but fail on runtime:
[code]

[2022-08-15 19:00] michael-roe commented on #247
I think the right way to do this is that the kernel reads the FDT from the boot rom, and uses that to work out which extensions the CPU supports. Then userspace parses /proc/cpuinfo or uses hwcap.h.

There are extensions that aren't in CSR's, and have to be determined from the FDT.

[2022-08-15 19:00] toor1245 commented on #247
@yuzibo thank you! This is the expected result, but it was necessary to check

[2022-08-15 19:04] DaniAffCH commented on #247
I'm currently retrieving info by parsing /proc/cpuinfo, as soon as I've done I open a PR. There will be probably some adjustments to do as I'm not sure that I'm getting the microarchitecture properly

[2022-08-15 19:12] toor1245 commented on #247
@michael-roe, what advantages of using fdt compared with `proc/cpuinfo` or `hwcap`? Since we have stable functionality to parse via these features

[2022-08-16 12:29] michael-roe commented on #247
User space programs (which includes cpu_features) ought to use proc/cpuinfo and/or hwcap.

But the part of the Linux kernel that creates /proc/cpuinfo (and, probably, hwcap) looks at the FDT to work out which options the CPU supports. Some of the information can't be derived just from cpu status registers.

So the basic flow is:

a) kernel reads the FDT from the boot rom, works out what options ar

[2022-08-16 16:02] gchatelet commented on #260
@toor1245 how confident are we that we can recover the information by parsing the string? AFAIU the string is not precisely defined by Intel. If it's hard to be sure I would just assume 4 is Skylake.

[2022-08-16 19:19] toor1245 commented on #260
@gchatelet, we have similar identification by `brand_string` to `HasSecondFMA`

[code]

but I think its hard to predict all possible cases I would prefer skylake if no objection

[2022-08-18 10:29] michael-roe commented on #247
See
https://github.com/torvalds/linux/blob/master/arch/riscv/kernel/cpufeature.c
for the part of the Linux kernel that works out which ISA features are supported.

What I think is happening  here is that it's getting the information from the FDT.

[2022-08-24 19:18] WilliamTambellini commented on #260
seen:
![image](https://user-images.githubusercontent.com/109458/186504371-3c7b8b50-d43f-4077-bdd0-f2630a304537.png)

so all 82xx to be CascadeLake ?

[2022-08-27 00:13] toor1245 commented on #260
@WilliamTambellini, yes, you can find the list of Xeon `cascade-lake` with the second generation:
https://ark.intel.com/content/www/us/en/ark/products/series/192283/2nd-generation-intel-xeon-scalable-processors.html
and all possible `cascade-lake` processors:
https://ark.intel.com/content/www/us/en/ark/products/codename/124664/products-formerly-cascade-lake.html

we can classify cascade-lake proce

[2022-08-27 00:31] WilliamTambellini commented on #260
Tks @toor1245
Well that issue is just about "Intel(R) Xeon(R) Platinum 8275CL CPU @ 3.00GHz" with stepping = 7.
Do you propose to set CascadeLake when 6 <= stepping <= 7 ?

[2022-08-27 00:38] toor1245 commented on #260
@WilliamTambellini, I'm not sure about stepping 5, but this stepping was mentioned  in wikichip `note that while steppings 6 & 7 are fully mitigated, earlier stepping 5 is not protected against MSBDS, MLPDS, nor MDSUM`, I didn't find any other info in the documentation, so let's set CascadeLake for now when 6 <= stepping <= 7

[2022-08-27 00:58] WilliamTambellini commented on #260
@toor1245
ok so I suppose around that line:
https://github.com/google/cpu_features/blob/cee2648cf0cebfb5e0106a2187d4b1c33851a9ec/src/impl_x86__base_implementation.inl#L528
adding something like :
[code]
?

[2022-08-27 08:33] toor1245 commented on #260
CPUID(0x06, 0x55): is only CascadeLake

[code]

[2022-09-19 08:00] #260 closed

[2022-10-18 05:32] damageboy opened #278 "Missing AVX512_FP16 detection"
Unless I'm throughly wrong here, `cpu_features` seems to be missing detection of AVX512_FP16?

For example, the intel docs for AVX512_FP16 state that:

![image](https://user-images.githubusercontent.com/125730/196342738-e4edf5f4-9db4-458b-af52-cdd9eeaf6aa9.png)

From: https://www.sandpile.org/x86/ref_docs.htm

Yes, the current code-base does not look for `CPUID.(7.0).EDX[23]` at all:

https://gith

[2022-10-18 15:09] toor1245 commented on #278
@damageboy, thank you for the issue! No objection

[2022-10-18 17:12] damageboy commented on #278
@toor1245 looks working on my end, PR includes listing for tiger-lake + alder-lake and show this working as expected.
I will need some sort of maintainer approval to run the pipeline

[2022-10-20 09:26] #278 closed